<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="ConnectionString" connectionString="Data Source=DESKTOP-M3PIB3L\SQLEXPRESS;Database=Badania_Krwi;Trusted_Connection=True;Integrated Security=True;TrustServerCertificate=true;Connect Timeout=30;" />
	</connectionStrings>
	<appSettings>
		<add key="EmailSmtp" value="smtp.gmail.com"/>
		<add key="EmailPort" value="587"/>
		<add key="EmailSender" value="wsparciebadaniakrwi@gmail.com"/>
		<add key="EmailSenderPassword" value="gyup dcts fbjq dcim"/>
	</appSettings>
</configuration>